.container{
  margin: 10px auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap:15px
}
.container .content{
  padding-left: 10px;
}
.container .content h1{
  font-size: 75px;
  margin:60px 0px 10px 0px;
}
.container .content h2{
  font-size: 25px;
}
.container .content p{
  font-size: 18px;
}
.container .content ul{
  display: flex;
  list-style: none;
  padding: 0;
}
.container .content ul li:nth-child(1){
  padding-top: 5px;
  cursor: pointer;
}
.container .content ul li:nth-child(2){
  margin-left: 10px;
  cursor: pointer;
}

.container .content ul li button{
  margin-top: 8px;
  margin-left: 10px;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}
